* {
	margin: 0;
	padding: 0;
}
html { 
	background: url(images/blue.jpg) no-repeat center center fixed; 
	}

body {
	font-family: arial;
	
}
	/*form input[type="email"]{ 
			width: 70%;
			height: 30px;
			display: block;
			border: 1px solid black;
	}
	form input[type="text"]{ 
			width: 40%;
			height: 30px;
			display: block;
			border: 1px solid green;
	}*/
		
#container {
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
}

	header {
		width: 100%;
		padding: 30px 0px;
		color: black;
	}

		header h1 {
			margin-left: 20px;
		}
	
	nav{}
		nav ul{
			font-size: 20px;				
		}
			nav li {
				list-style: none;
				float: left;
				width: 110px;
				padding: 10px 0px;
				text-align: center;
			}
			nav li:hover {
				background: #6abaf2;
				cursor: pointer;
			}
	section {
		width: 70%;
		float: left;
		margin: 0 auto;
		}
		article{
			margin: 10px 10px 20px 10px;
			border-bottom: 1px solid black;
		}
		article h1 {
			font-size: 25px;
			background: #6abaf2;
			padding: 10px;
		}
		article p {
			font-size: 20px;
			margin: 10px 0px 10px 0px
		}
		#meta {
			color: blue;
			font-size: 15px;
		}
		
		#albumart{}
			.picture {
				padding: 5px 5px 5px 5px;
			}
			
	aside {
		float: right;
		width: 30%;
	}
	#side-top {}
		#side-top h1 {
			color: white;
			text-align: center;
			text-decoration: underline;
			font-size: 20px;
			padding: 5px 10px;
		}
		#latest-post-list {
			padding: 0 20px;
		}
			.latest-post {
				Padding: 10px;
				border: 1px solid white;
				text-align: center;
				color: white;
				background: #6abaf2;
				margin: 10px;
			}
			.latest-post:hover {
				background: #2c9fef;
				cursor: pointer;
			}
	#side-bottom {}
		#side-bottom h1 {
			color: white;
			text-align: center;
			text-decoration: underline;
			font-size: 20px;
			padding: 5px 10px;
		}
		#newsletter input[type="email"]{ 
			width: 90%;
			margin: 0 auto;
			height: 20px;
			display: block;
			/*border: 1px solid black*/;
		}
		
		#newsletter input[type="submit"]{
			width: 90%;
			margin: 0 auto;
			height: 25px;
			display: block;
		}
		
	#mojaforma {}
			#mojaforma table {
				padding: 20px;
				width: 40%;
			}
				#mojaforma table tr {
					height: 40px;
				}
					#mojaforma table td {}
						#mojaforma input, #mojaforma select {
							height: 20px;
							width: 100%;
	}
	
		
	
	footer {
		margin: 10px;
		background: #2c9fef;
		color: black;
		padding: 10px;
		text-align: center;
	}
	
	
		